@import "Variables";
@import "Mixins";

// General ----------------------------
body{
    margin: 0;
}

#main{
    @include ElementLayout($fdir: column);
}

#main > .fullWidth{
    width: 2000px;
}

.container{
    display: flex;
    @include ItemDefinition(50%, 100%, 0% 20% 0% 30%);
}

#quote1>.container, #joinUs>.container, #footer>.container{
    flex-direction: column;
}

#header>.container, #about>.container, #quote1>.container{
    justify-content: space-between;
}

.logo{
    @include getImage("Logo.png", $logoW, $logoH);
    margin: 10px;
}

.phone{
    @include getImage("Phone.png", $phoneW, $phoneH);
}



// Font settings ----------------------------
.t{
    font-size: 30px;
}

.h{
    font-size: 42px;
}

.dark{
    color: $grayTheme;
}

.bright{
    color: $whiteTheme;
}

.blue{
    color: $blueTheme;
}



// Header ----------------------------
#header{
    background: linear-gradient(300deg, $blueTheme 0%, $blueTheme 60%, $whiteTheme 60%, $whiteTheme 100%);
    height: $longL;
}

#headerInfo{
    @include ElementLayout($fdir: column);
}

#buttons{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

#b1{
    @include btn($whiteTheme, $blueTheme);
}

#b2{
    @include btn($whiteTheme, $grayTheme);
}

#playBtn{
    @include getImage("PlayBtn.png", $playBtn_W, $playBtn_H);
}

#LSide1{
    @include ItemDefinition(auto, 100%);
    @include ElementLayout(flex-start, space-between, column);
}

#RSide1{
    @include ItemDefinition(45%, 100%);
    @include ElementLayout(stretch, space-evenly, column);
}



// About ----------------------------
#about{
    @include SolidBlock($grayTheme, $longL);
}

#LSide2{
    @include ItemDefinition(40%, 100%);
    @include ElementLayout(flex-start, center, column);
}

#RSide2{
    @include ItemDefinition(50%, 100%);
    @include ElementLayout(center, center, column);
}

#b3{
    @include btn($whiteTheme, $blueTheme);
}

#screens{
    @include ItemDefinition(100%, 40%);
    display: flex;
}

.scr{
    display: flex;
    background-color: $lgrayTheme;
    margin: 6px;
    width: 100%;
}

#navbar{
    @include ItemDefinition(100%, 5%);
    @include ElementLayout($H_align: center);
}

.navItem{
    @include ItemDefinition(20px, 20px, 4px);
    background-color: $lgrayTheme;
    border-radius: 25px;
}

.navItemSelected{
    @include ItemDefinition(40px, 20px, 4px);
    background-color: $whiteTheme;
    border-radius: 25px;
}



// Quote1 ----------------------------
#quote1{
    @include SolidBlock($blueTheme, $longL);
}

.titleBox{
    @include ElementLayout(center, center, column);
}

#bottomBox{
    @include ElementLayout(center, space-between);
}

#triangle{
    border: 20px solid transparent;
    border-right: 20px solid $whiteTheme;
}

#quoteArea{
    flex-direction: column;
}

#quote{
    background-color: $whiteTheme;
    border-radius: 15px;
    padding: 20px;
    @include ElementLayout(center, center, column);
}

#QMU{
    @include getImage("QuotationMarkUp.png", $QMW, $QMH);
    align-self: flex-start;
}

#QMD{
    @include getImage("QuotationMarkDown.png", $QMW, $QMH);
    align-self: flex-end;
}

#QText{
    margin-left: 30px;
    margin-right: 30px;
}



// JoinUs ----------------------------
#joinUs{
    @include SolidBlock($grayTheme, $shortL);
}

#mailBox{
    @include ElementLayout(center, center);
}

.mar{
    margin: 10px;
}

#b4{
    @include btn($blueTheme, $whiteTheme);
}



// Footer ----------------------------
#footer{
    @include SolidBlock($whiteTheme, $vshortL);
}

#items{
    @include ElementLayout(center, center, column);
    @include ItemDefinition(100%, 100%);
}

#AllRightsText{
    @include getImage("AllRights.png", $AllR_W, $AllR_H);
}