$blueTheme: #41e0d8;
$grayTheme: #262a34;
$lgrayTheme: #3f4551;
$whiteTheme: #f9f9f9;

$longL: 900px;
$shortL: 430px;
$vshortL: 300px;

$logoW: 54px;
$logoH: 68px;

$phoneW: 311px;
$phoneH: 554px;

$hinfoW: 460px;
$hinfoH: 756px;

$btnW: 140px;
$btnH: 45px;

$playBtn_W: 171px;
$playBtn_H: 58px;

$QMW: 14px;
$QMH: 10px;

$AllR_W: 234px;
$AllR_H: 16px;