@mixin SolidBlock($back, $h){
    background-color: $back;
    height: $h;
}

@mixin btn($col, $backcol){
    @include ElementLayout(center, center);
    @include ItemStyling($backcol, $col);
    text-transform: uppercase;
    padding: 10px;

    &:hover{
        cursor: pointer;
    }
}

@mixin ElementLayout($V_align: stretch, $H_align: flex-start, $fdir: row){
    display: flex;
    align-items: $V_align;
    justify-content: $H_align;
    flex-direction: $fdir;
}

@mixin ItemDefinition($w, $h, $m: 0px){
    width: $w;
    height: $h;
    margin: $m;
}

@mixin ItemStyling($bkcol: false, $col: false, $img: false, $grd: false){
    @if $bkcol{
        background-color: $bkcol;
    }

    @if $col{
        color: $col;
    }

    @if $img{
        background-image: url($img);
    }

    @if $grd{
        background-image: $grd;
    }
}

@mixin getImage($i, $w, $h)
{
    @include ItemStyling($img: $i);
    @include ItemDefinition($w, $h);
    background-repeat: no-repeat;
    min-width: $w;
    min-height: $h;
}