@import "GlobalStyle";

// General ----------------------------
#main{
    @include ElementLayout($fdir: column);
}

.container{
    display: flex;
    @include ItemDefinition(70%, 100%, 0% 15% 0% 15%);
}

#about>.container, #quote1>.container, #joinUs>.container, #footer>.container{
    flex-direction: column;
}

#header>.container, #quote1>.container{
    justify-content: space-between;
}



// Header ----------------------------
#header{
    background: linear-gradient(300deg, $blueTheme 0%, $blueTheme 60%, $whiteTheme 60%, $whiteTheme 100%);
    height: $longL;
}

#headerInfo{
    @include ElementLayout($fdir: column);
}

#buttons{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

#b1{
    @include btn($whiteTheme, $blueTheme);
}

#b2{
    @include btn($whiteTheme, $grayTheme);
}

#playBtn{
    @include getImage("Images/PlayBtn.png", $playBtn_W, $playBtn_H);
}

#LSide1{
    @include ItemDefinition(auto, 100%);
    @include ElementLayout(flex-start, space-between, column);
}

#RSide1{
    @include ItemDefinition(45%, 100%);
    @include ElementLayout(stretch, space-evenly, column);
}



// About ----------------------------
#about{
    @include SolidBlock($grayTheme, $longL);
}

#UpSide{
    @include ItemDefinition(100%, 55%);
    @include ElementLayout(flex-start, center, column);
}

#DownSide{
    @include ItemDefinition(100%, 35%);
    @include ElementLayout(center, center, column);
}

#screens{
    @include ItemDefinition(100%, 90%);
    display: flex;
    flex-direction: column;
}

#UpSide .owl-stage-outer{
    @include ItemDefinition(100%, 100%);
    @include ElementLayout(flex-start, center, column);
}

#quoteArea .owl-stage-outer{
    @include ItemDefinition(100%, 100%);
}

#screens .owl-stage, #screens .owl-stage .owl-item{
    height: 100%;
}

.scr{
    display: flex;
    background-color: $lgrayTheme;
    @include ItemDefinition(100%, 100%);
}

.car_image{
    width: 100%;
    display: inline-block;
}

.super-dots{
    @include ItemDefinition(100%, 5%);
    @include ElementLayout($H_align: center);
}

.super-dots button.owl-dot{
    @include ItemDefinition(20px, 20px, 4px);
    background-color: $lgrayTheme;
    border-radius: 25px;
}

.super-dots button.owl-dot.active{
    @include ItemDefinition(40px, 20px, 4px);
    background-color: $whiteTheme;
    border-radius: 25px;
}



// Quote1 ----------------------------
#quote1{
    @include SolidBlock($blueTheme, $longL);
}

.titleBox{
    @include ElementLayout(center, center, column);
}

#bottomBox{
    @include ElementLayout(center);
    width: 100%;
}

#triangle{
    border: 20px solid transparent;
    border-right: 20px solid $whiteTheme;
}

#coating{
    display: flex;
    flex-direction: column;
    width: 50%;
}

#quoteArea{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.quote{
    background-color: $whiteTheme;
    border-radius: 15px;
    padding: 15%;
    @include ElementLayout(center, center, column);
}

.QMU{
    @include getImage("Images/QuotationMarkUp.png", $QMW, $QMH);
    align-self: flex-start;
}

.QMD{
    @include getImage("Images/QuotationMarkDown.png", $QMW, $QMH);
    align-self: flex-end;
}

.QText > p{
    width: 70%;
}

// JoinUs ----------------------------
#joinUs{
    @include SolidBlock($grayTheme, $shortL);
}

#mailBox{
    @include ElementLayout(center, center);
}

.mar{
    margin: 10px;
}

#b4{
    @include btn($blueTheme, $whiteTheme);
}



// Footer ----------------------------
#footer{
    @include SolidBlock($whiteTheme, $vshortL);
}

#items{
    @include ElementLayout(center, center, column);
    @include ItemDefinition(100%, 100%);
}

#AllRightsText{
    @include getImage("Images/AllRights.png", $AllR_W, $AllR_H);
}